[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/mathfu"]
	path = external/mathfu
	url = https://github.com/google/mathfu.git
[submodule "external/Box2D"]
	path = external/Box2D
	url = https://github.com/erincatto/Box2D.git
[submodule "external/SDLpp"]
	path = external/SDLpp
	url = git@github.com:montonero/SDLpp.git
[submodule "external/tinyheaders"]
	path = external/tinyheaders
	url = https://github.com/RandyGaul/tinyheaders.git
